body{
    background: rgb(9,6,6);
    background: linear-gradient(90deg, rgba(9,6,6,1) 5%, rgba(50,21,33,1) 19%, rgba(176,47,96,1) 49%, rgba(50,21,33,1) 80%, rgba(9,6,6,1) 95%);
}
/* Nav */ 
.desktop-nav{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px white;
    border-radius: 0px 0px 10px 10px;
    border: solid 2px white;
    background-color: rgba(255,255,255,0.5);
}

.desktop-nav h1{
    color: white;
    font-size: 2rem;
}
