:root{
    --time: 4s;
}
body, .container-fluid{
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.navbar{
    left: 0;
    font-family: "Teko", sans-serif;
}
a{
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

a:link {
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.circle {
    background-color: white;
    border-radius: 100%;
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.center-circle{
    border-radius: 100%;
    width: 25px; 
    height: 25px;

}
.inner-circle {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate var(--time) linear infinite; 
}

.inner-circle li {
    position: absolute;
    list-style: none;
    justify-content: center;
    transform-origin: center;
    transform: rotate(calc((360deg / 6 * var(--i))));
    display: flex;
    align-items: center;
}

.inner-circle button{
    font-size: 1.5rem;
    border-radius: 100%;
    border: none;
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    top: 50%; /* Position in the middle of the circle */
    left: 50%; /* Position in the middle of the circle */
    transform: translate(-80%, -80%); /* Center the button */
}

.middle-circle {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate var(--time) linear infinite; 
}

.middle-circle li {
    position: absolute;
    list-style: none;
    justify-content: center;
    transform-origin: center;
    transform: rotate(calc(360deg / 4 * var(--i)));
    display: flex;
    align-items: center;
}

.middle-circle button{
    font-size: 1.2rem;
    border-radius: 100%;
    border: none;
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    top: 50%; /* Position in the middle of the circle */
    left: 50%; /* Position in the middle of the circle */
    transform: translate(-200%, -200%); /* Center the button */
}

.outside-circle {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate var(--time) linear infinite; 
}

.outside-circle li {
    position: absolute;
    list-style: none;
    justify-content: center;
    transform-origin: center;
    transform: rotate(calc(360deg / 10 * var(--i)));
    display: flex;
    align-items: center;
}

.outside-circle button{
    font-size: 1.5rem;
    border-radius: 100%;
    border: none;
    width: 36px; /* Adjust as needed */
    height: 36px; /* Adjust as needed */
    top: 50%; /* Position in the middle of the circle */
    left: 50%; /* Position in the middle of the circle */
    transform: translate(-240%, -240%); /* Center the button */
}


.menu{
    background: #f56476;
}
