{{ define "main" }}
<div class="py-5 contact-section">
  <div class="container main-container">

    <!-- Contact Header -->
    <div class="row justify-content-center text-center">
      <h1 class="contact-header mb-5">Contact Me</h1>
    </div>

    <!-- Two-Column Layout -->
    <div class="row align-items-center">

      <!-- Left Column: Quote + Contact Info -->
      <div class="col-md-6">
                <div class="card shadow-lg contact-card p-4">
                    <div class="card-body text-center">
                        <h2 class="mb-3">Get in touch!</h2>
                        <p class="mb-4">If you have anything in mind, want to collaborate, or simply say hello, don’t hesitate to reach out.</p>
                        <ul class="list-unstyled">
                            <li class="mb-3"><i class="bi bi-telephone"></i> <strong>+57 3028098227</strong></li>
                            <li class="mb-3"><i class="bi bi-envelope"></i> <strong>GiwmHanam@protonmail.com</strong></li>
                            <li class="mb-3"><i class="bi bi-envelope"></i> <strong>juandguarnizo64@gmail.com</strong></li>
                        </ul>
                    </div>
                </div>
        <div class="p-4 bg-dark text-light shadow-lg mb-4 contact-card-b">
          <blockquote class="blockquote text-center">
            <p class="fst-italic">"The living image of what I saw will always be by my side
              and will correct and guide me. Oh! I am optimistic and full of vigor, and I will follow
              my purpose even if it takes a thousand years."</p>
            <footer class="blockquote-footer text-light">Fyodor Dostoevsky, <cite title="The Dream of a Ridiculous Man">The Dream of a Ridiculous Man</cite></footer>
          </blockquote>
        </div>

      </div>
      <div class="col-md-6 d-flex align-items-center">
        <img src="{{ "/images/dostoevsky.jpg" | relURL }}" class=" contact-img img-fluid  w-100 rounded shadow-lg" alt="Fyodor Dostoevsky">
      </div>

    </div>

  </div>
</div>
{{ end }}

