body{
    background-color: #f9f6f3;
    background-image: radial-gradient(pink 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;

}
*{
    font-family: "Source Sans 3", sans-serif;
}
.nav{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5px;
    border-bottom: 5px solid rgb(255,107,107);
}
.nav h1{
    font-family: "Poetsen One", sans-serif;
    margin-top: 10px;
    color: rgb(255,105,107);
}
.btn{
    background-color: rgb(255,105,107);
}

.welcome{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 85vh;
}


.welcome_message h1{
    position:relative;
    font-family: "Poetsen One", sans-serif;
    margin-top: 10px;
    bottom: 0;
    right: 0;
    font-size: 6rem;
    color:teal;
}
.welcome_message p{
    font-weight: bold;
}

.carousel-item img {
  border-radius: 30px;
  height: 450px;
  transition: 0.25s linear;
}
